{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'styles_register.css' %}"> -->
<link rel="stylesheet" type="text/css" href="{% static 'styles2.css' %}">
<header>
  <nav>
      <div class="logo">Handmade Gifts</div>
  </nav>
</header>
<form method="post">
  {% csrf_token %}
  <input type="text" name="username" placeholder="Username" required>
  <input type="email" name="email" placeholder="Email" required>
  <input type="password" name="password1" placeholder="Password" required>
  <input type="password" name="password2" placeholder="Confirm Password" required>
  <button type="submit">Register</button>
</form>

{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
